.home-wrap {
    .logo {
        display: inline-flex;
        align-items: center;
        font-size: 24px;
    }
    .hd-right-box {
        display: inline-block;
        float: right;
        .volumn-box {
            display: inline-block;
        }
    }
    .imgBox {
        width: 300px;
        padding: 20px;
        display: inline-block;
        margin: 10px;
        box-shadow: 0 0 20px rgba(0,0,0, .1);
        img {
            width: 100%;
        }
    }
}